<section>
  
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          Main
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li routerLinkActive="Active">
            <a href="/Home" class="nav-link text-secondary">
             
              خانه
            </a>
          </li>
          <li routerLinkActive="Active">
            <a href="/Contact" class="nav-link text-white">
              تماس با ما
            </a>
          </li>
          <li routerLinkActive="Active">
            <a href="/AboutMe" class="nav-link text-white">
              درباره ما
            </a>
          </li>
          <li routerLinkActive="Active">
            <a href="/Posts" class="nav-link text-white">
              بلاگ
            </a>
          </li>
          <li routerLinkActive="Active">
            <a href="/gallery" class="nav-link text-white">
              گالری
            </a>
          </li>
       
        </ul>
      </div>
    </div>
  </div>
  
  <div>
    <router-outlet></router-outlet>
  </div>
</section>

